.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--cor3);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {    
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: var(--cor2);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    font-weight: bold;
}

.toggle-btn {
    font-size: 30px;
    border: none;
    margin: 5px;
    background: none;
    color: var(--cor5);;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px;
    z-index: 2;
    font-weight: bold;
}


.subitem-list {
    margin-left: 20px;
    display: none;
}