img {
    width: 50px;
}

.contato img {
    margin: auto 15px;
}

.rede-social {
    margin: auto 15px;
    transition: transform 0.2s ease-in-out;
}

.rede-social:hover{
    transform: scale(1.2);

}

#mapa {
    margin: 20px auto 10px auto;
    border: 2px solid;
}
#frame {
    margin-top: 5px;
}

iframe {
    max-width: 400px;
    max-height:300px;
    width: 80vw;
    height: 60vw;
    border: 2px solid;
}

.card-box-sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.links {
    width: fit-content;
}
