@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');


:root {
    --cor1: #111;
    --cor2: #262526;
    --cor3: #EAF205;
    --cor4: #F2E205;
    --cor5: #F2EDE4; 
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    /* background: linear-gradient(to top, rgb(232, 228, 252), rgb(201, 190, 252), rgb(110, 81, 250), rgb(41, 0, 245)) no-repeat; */
    /* background: radial-gradient(rgb(41, 0, 245), rgb(232, 228, 252)); */
    /* background: linear-gradient(to bottom, #333, #ccc) no-repeat; */
    background-color: var(--cor1);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

main {
    min-height: 83vh;
    max-width: 1200px;
    margin: auto;
}

.conteudo {
    /* transition: margin-left 0.5s; */
    padding: 2vh 1vw 0 1vw;
}

h1 {
    width:  fit-content;
    max-width: 70vw;
    color: black;
    font-weight: bold;
    margin: 5px auto;
    font-family: cursive;
    font-size: 180%;
    margin-bottom: 30px;
    border: 8px double var(--cor4);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--cor5);
    text-align: center;
}

h2 {
    font-weight: bold;
    margin: 15px auto;
    font-size: 140%;
}
.subtitulo {
    font-weight: bold;
    color: #000;
    margin: 15px auto;
    font-size: 140%;
}

.divs{
    padding: 5px;
    text-align: center;
    background-color: var(--cor2);
    border: solid 2px black;
    border-radius: 5px;
    margin: 0 2% 5px;
}

.card-fundo-colorido{
    padding: 5px;
    text-align: center;
    border: solid 2px black;
    background-color: var(--cor3);
    border-radius: 5px;
    margin:5px;
    flex-grow: 1; 
}

a {
    text-decoration: none;
}


.links {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 8px;
    border-radius: 10px;
    border: solid 2px black;
    margin: 5px;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
}

.links:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 10px #000 inset;
    font-size: 120%;
    transform: scale(1.20);
}


mark {
    background-color: rgba(0, 253, 0, 0.582);
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

span {
    font-weight: bold;
}

#ultimo-container {
    padding-bottom: 20px;
}
