@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    /* background: linear-gradient(to top, rgb(232, 228, 252), rgb(201, 190, 252), rgb(110, 81, 250), rgb(41, 0, 245)) no-repeat; */
    /* background: radial-gradient(rgb(41, 0, 245), rgb(232, 228, 252)); */
    background: linear-gradient(to bottom, #333, #ccc) no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

main {
    min-height: 83vh;
}

.conteudo {
    transition: margin-left 0.5s;
    padding: 2vh 1vw 0 1vw;
}

h1 {
    width:  fit-content;
    max-width: 70vw;
    color: #fff;
    font-weight: bold;
    margin: 5px auto;
    font-family: cursive;
    font-size: 180%;
    margin-bottom: 30px;
    border: 8px double #f5f5f5;
    border-radius: 5px;
    padding: 5px;
}

h2 {
    font-weight: bold;
    margin: 15px auto;
    font-size: 140%;
}
.subtitulo {
    font-weight: bold;
    color: #fff;
    margin: 15px auto;
    font-size: 140%;
}

.divs{
    padding: 5px 10px;
    text-align: center;
    background-color: #f5f5f5;
    border: solid 2px black;
    border-radius: 5px;
    margin: 0 5% 5px;
}


a {
    text-decoration: none;
}


.links {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 8px;
    border-radius: 10px;
    border: solid 2px black;
    margin: 5px;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
}

.links:hover {
    color: rgb(255, 255, 255);
    /* box-shadow: 0 0 15px 10px rgba(41, 0, 245) inset; */
    box-shadow: 0 0 15px 10px #000 inset;
    font-size: 120%;
    transform: scale(1.20,1.20);
}


footer {
    height: 3vh;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
footer > small {
    position: absolute;
    width: 200px;
    left: calc(50vw - 100px);
    bottom: 10px;
    font-family:Montserral;
}

mark {
    background-color: rgba(0, 253, 0, 0.582);
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

span {
    font-weight: bold;
}

#ultimo-container {
    padding-bottom: 20px;
}
