* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
}
h1, h2 {
    margin-top: 50px;
    text-align: center;
    color: #309433;
}
h2 {
    font-size: 30px;
}

table {
    width: 400px;
    border-collapse: collapse;
    margin: 10px auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #4CAF50;
    color: white;
}

thead th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tbody a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

tbody a:hover {
    text-decoration: underline;
}