.containerPrincipal {
    width: 800px;
    max-width: 90vw;
    padding: 5px;
    text-align: center;
    border: solid 2px var(--primary);
    background-color: var(--cor3);
    border-radius: 5px;
    margin: auto;
    flex-grow: 1;
}

.socialImg {
    width: 50px;
}

@media (max-width:600px) {
    .containerPrincipal {
        width: 100vw;
        max-width: 100vw;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

}