.footerContainer {
  width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.footerContainer.visible {
  opacity: 1;
}

.footerContainer.hidden {
  opacity: 0;
  transform: translateY(100%);
  /* Esconde o footer movendo-o para fora da tela */
}