/* Estilos padrão - ocultar o menu em telas grandes */
.hamburgerMenu {
    display: none;
}

/* Exibir o menu apenas em telas pequenas (menores que 600px) */
@media (max-width: 600px) {

    .hamburgerMenu {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .line {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .line1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}